In [8]:
import pandas as pd
import openpyxl;

In [9]:
customers = pd.read_csv("../data/customers.csv")
customers.head()

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,3/13/23,Basic (Ads),$2.99,NaN,NaN
1,5002,Aria Keys,Email: melodious.aria@email.edu,3/13/23,NaN,$2.99,NaN,NaN
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,3/13/23,NaN,$2.99,NaN,6/1/23
3,5267,Rock Bassett,Email: groovy.rock@email.com,3/20/23,Basic (Ads),$2.99,NaN,NaN
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,3/20/23,NaN,$2.99,NaN,NaN

In [10]:
listening_history = pd.read_excel('../data/listening_history.xlsx')
listening_history.head()

   Customer ID  Session ID  Audio Order  Audio ID Audio Type
0         5001      100520            1       101       Song
1         5001      100520            2       102       Song
2         5001      100520            3       103       Song
3         5001      100520            4       104       Song
4         5001      100520            5       105       Song